<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gfc.dao.CommentMapper">
	<resultMap type="gfc.dto.User" id="user_resultMap">
		<result column="uname" property="uname" />
	</resultMap>
	
	<resultMap type="gfc.dto.Comment" id="comment_resultMap">
		<result column="ccom" property="ccom" />
		<result column="cdate" property="cdate" />
		<result column="ccode" property="ccode" />
		<collection property="user" resultMap="user_resultMap"></collection>
	</resultMap>
	
	<insert id="addComment" parameterType="gfc.dto.Comment">
		insert into
		comments(scode,ucode,ccom,cdate)
		values(#{scode}, #{ucode},#{ccom},sysdate)
	</insert>

	<select id="getCommentList" parameterType="java.lang.Integer" resultMap="comment_resultMap">
		select u.uname, c.ccom , c.cdate, c.ccode
		from comments c
		left join users u
		on c.ucode = u.ucode 
		where c.scode = #{scode}
		order by c.ccode desc
	</select>
	
	<select id="getComment" parameterType="java.lang.Integer" resultType="java.lang.String">
		select ccom from comments where ccode = #{ccode}
	</select>
</mapper>