<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gfc.dao.LocationsMapper">
	<resultMap type="gfc.dto.Location" id="location_resultMap">
	</resultMap>

	<resultMap type="gfc.dto.User" id="user_resultMap">
		<result column="uname" property="uname" />
	</resultMap>
		<resultMap type="gfc.dto.Artist" id="artist_resultMap">
		<result column="aname" property="aname" />
	</resultMap>
	
	<resultMap type="gfc.dto.Location" id="location_ua_resultMap">
		<result column="lname" property="lname" />
		<result column="laddress" property="laddress" />
		<result column="llat" property="llat" />
		<result column="llong" property="llong" />
		<result column="ldesc" property="ldesc" />
		<result column="lconfirm" property="lconfirm" />
		<collection property="user" resultMap="user_resultMap"></collection>
		<collection property="artist" resultMap="artist_resultMap"></collection>
	</resultMap>

	<select id="getLocationList" resultMap="location_ua_resultMap">
		select 
		l.lname,l.laddress,l.llat,l.llong,l.ldesc,l.lconfirm,
		u.uname, a.aname
		from location l
		left join users u
		on l.ucode = u.ucode
		left join artists a
		on l.acode = a.acode
	</select>

	<select id="getLocationAcode" parameterType="java.lang.Integer"
		resultMap="location_ua_resultMap">
				select
		l.lname,l.laddress,l.llat,l.llong,l.ldesc,l.lconfirm,
		u.uname, a.aname
		from location l
		left join users u
		on l.ucode = u.ucode
		left join artists a
		on l.acode = a.acode
		where l.acode=${acode}
	</select>

	<select id="getLocation" parameterType="java.lang.Integer"
		resultMap="location_resultMap">
		select
		lcode,acode,lname,laddress,llat,llong,ldesc,ucode,lconfirm from
		location
		where
		lcode = #{lcode}
	</select>
	
	<insert id="addLocation" parameterType="gfc.dto.Location">
		insert into
		location(acode,lname,laddress,llat,llong,ldesc,ucode, lconfirm)
		values(#{acode}, #{lname},
		#{laddress}, #{llat}, #{llong}, #{ldesc},
		#{ucode}, 0 )
	</insert>
	
	<select id="getLocationConfirmList" resultMap="location_resultMap">
		select
		lcode,acode,lname,laddress,llat,llong,ldesc,ucode,lconfirm from location
	</select>
	
	
</mapper>


