<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gfc.dao.SongsMapper">
	<resultMap type="gfc.dto.Song" id="song_resultMap">
	</resultMap>

	<select id="getSongList" resultMap="song_resultMap">
		select
		scode,stitle,acode,swriter,slyricist,sdate,salbum,simage,klyric from
		songs, kcode
	</select>

	<select id="getSong" parameterType="java.lang.Integer"
		resultMap="song_resultMap">
		select
		scode,stitle,acode,swriter,slyricist,sdate,salbum,
		simage, klyric, kcode from songs
		where
		scode = #{scode}
	</select>

	<insert id="addSong" parameterType="gfc.dto.Song">
		insert into
		songs(stitle,acode,swriter,slyricist,sdate,salbum,simage,klyric)
		values(#{stitle}, #{acode}, #{swriter}, #{slyricist}, #{sdate},
		#{salbum}, #{simage}, #{klyric} )
	</insert>
	
	<select id="searchSong" parameterType="hashmap" resultMap="song_resultMap">
		select s.scode,s.stitle,s.acode,s.swriter,a.aname,
		s.slyricist,s.sdate,s.salbum,s.simage, s.klyric,s.kcode 
		from artists a
		left join songs s
		on a.acode=s.acode
		<!-- <if test="condition == aname">
			where s.acode=a.acode and 
			${condition}=#{keyword}
			
		</if>
		<if test="condition == stitle">
		where s.acode=a.acode and  -->
			where ${condition}=#{keyword}
		<!-- </if> -->
	</select> 
</mapper>