@charset "UTF-8";

img{
	width : 100px;
	height : 100px;
}
table{
	max-width: 100%;
}
tr.r:hover {
	cursor : pointer;
  background-color: #ece3f4;
}

th{
text-align: center;
}


td{
	width: 1200px;
	text-align: center;
	font-size: 20px;
}
#grid{
	 margin : 0 auto;
	 border-radius:10px;
}

